body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0px;
}

a {
    color: #f9faf8;
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 12px 3vh;
 }

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}
  
.header,
.section-one {
    background-color: #1f2937;
}

.section-one {
    display: flex;
    justify-content: space-between;
    padding: 120px 30vh;
    color: #f9faf8;
}

.right-links {
    display: flex;
    gap: 18px;
}

#main-hero-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0px 280px 0px 0px;
    
}

#secondary-hero-text{
    font-size: 18px;
    color: #e5e7eb;
    margin: 12px 400px 12px 0px;
}

.header-link-texts{
    font-size: 18px;
    color: #e5e7eb;
}

.button-one{
    font-size: 18px;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 8px 36px;
    border-radius: 8px;
    border: none;
}

.section-one-img{
    height: 220px;
}

.section-two{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 120px 30vh;
}

#information-header-text{
    font-size: 36px;
    font-weight: bolder;
}

.quad-img-container{
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.img-conatainer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.quad-img{
    height: 160px;
    width:150px;
    border: 4px #3882f6 solid;
    border-radius: 20px;
}

.quad-img-text{
    text-align: center;
    font-size: 16px;
    width:150px
}

.section-three{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 60px 480px;
    background-color: #e5e7eb;
}

#main-quote{
    font-size: 36px;
    font-weight: lighter;
    color:#1F2937;
    font-style: italic;
    margin:0px;
}

#quote-author {
    font-size: 18px;
    font-weight: bolder;
    color: #1f2937;
    margin: 0px;
}

.section-four {
    padding: 100px 520px;
    padding-left: 50px;
    padding-right: 50px;
}

.section-four-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border-radius: 12px;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 80px;
}
  
#call-to-action,
#subtext {
    margin: 0px;
}
  
#call-to-action {
    color: white;
    font-weight: bold;
}
  
#subtext {
    color: white;
}
  
.button-two {
    color: #f9faf8;
    background-color: #3882f6;
    border-color: white;
    padding: 8px 24px;
    border-radius: 8px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1f2937;
    padding: 16px;
}